<div class="container" id="main-container">
  <div class="row">
    <table class="table table-bordered table-responsive-sm table-responsive-md
    table-responsive-lg table-striped">
      <thead>
        <tr>
          <th> Mã đơn hàng </th>
          <th> Ngày đặt hàng </th>
          <th> Tổng </th>
          <th> Trạng thái </th>
          <th> Hình thức </th>
          <th colspan="2">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>
            <h4 style="padding:5px">{{order.id}} </h4>
          </td>
          <td>
            <h4 style="padding:5px">{{order.CreateAt}}</h4>
          </td>
          <td>
            <h4 style="padding:5px">{{formatCurrency(order.totalAmount)}}
            </h4>
          </td>
          <td>
            <div *ngIf="order.status == 1;">
              <h4 style="padding:5px">Chưa thanh toán</h4>
            </div>
            <div *ngIf="order.status == 2;">
              <h4 style="padding:5px">Đã thanh toán</h4>
            </div>
            <div *ngIf="order.status == 3;">
              <h4 style="padding:5px">Đã hủy</h4>
            </div>
            <div *ngIf="order.status == 4;">
              <h4 style="padding:5px">Đã hoàn thành</h4>
            </div>
          </td>
          <td>
            <h4 style="padding:5px;text-transform:capitalize;"> {{order.orderType}} </h4>

          </td>
          <td> <button mat-raised-button color="primary" style="padding:5px" (click)="openOrderDetail(order)">Chi
              tiết</button></td>
        </tr>
        <tr *ngIf="orders.length <= 0">
          <td colspan="5">
            <h3 class="text-center">Không tìm thấy dữ liệu</h3>
          </td>
        </tr>
    </table>
  </div>
</div>
